.icon-small {
    height: 75px;
    width: 75px;
}

.note-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.note {
    border: 2px solid aliceblue;
    border-radius: 12px;
    padding: 10px;
}

.note:hover {
    border-color: rgb(13, 13, 43);
    cursor: pointer;
}

.note-title {
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.logo {
    width: 120px;
}