@import "tailwindcss";

.todo-item {
    border: 2px solid aliceblue;
    border-radius: 20px;
    list-style-type: none;
    margin-bottom: 10px;
    padding: 10px 20px;
}

.todo-item > * {
    width: 100%;
}

.todo-item label {
    color: white;
}

.todo-item--completed p {
    color: green;
}

.todo-item--completed {
    border-color: green;
}

.priority {
    padding: 12px;
    width: 24px;
    height: 24px;
}

.creation-wizard * {
    width: 100%;
}