.logo-div {
    border: 2px solid aliceblue;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
.logo-div p {
    color: aliceblue;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}