@import "tailwindcss";

textarea {
    height: 100%;
    width: 100%;
    resize: none;
    
    border: 2px solid aliceblue;
    border-radius: 10px;
    
    padding: 10px;

    background-color: rgb(0, 13, 28);
}